In [1]:
# Importation de librairies

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import DBSCAN
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

In [2]:
df = pd.ExcelFile("Unicorn.xlsx") # Load spreadsheet
df = df.parse('Unicorns', skiprows=2)

In [3]:
df = df[['Company', 'Valuation ($B) ', 'Date Added', 'Country',
       'Category', 'Select Investors']]
df.rename(columns={"Valuation ($B) ": "Valuation", "Date Added": "Date_Added", "Select Investors ": "SelectInvestors"}, inplace=True)

China

In [4]:
China = df[df['Country'].str.contains('China')]
China = China.sort_values(by='Date_Added', ascending=False)
China.reset_index(inplace=True)
China = China[['Company','Valuation', 'Date_Added','Country','Category','Select Investors']]
China

,Company,Valuation,Date_Added,Country,Category,Select Investors
0,Haomao.AI,1.00,2021-12-22,China,Artificial Intelligence,"Qualcomm Ventures, Nine Intelligence Capital, ..."
1,Chipone,4.73,2021-12-20,China,Hardware,"China Grand Prosperity Investment, Silk Road H..."
2,Gaussian Robotics,1.00,2021-11-10,China,Hardware,"BlueRun Ventures, Grand Flight Investment, Mei..."
3,Moka,1.00,2021-11-02,China,Internet software & services,"GGV Capital, GSR Ventures, FreesFund"
4,Tezign,1.00,2021-11-02,China,Internet software & services,"Sequoia Capital China, Linear Venture, Hearst ..."
...,...,...,...,...,...,...
162,BeiBei,1.00,2015-01-22,China,E-commerce & direct-to-consumer,"Banyan Capital, New Horizon Capital, IDG Capit..."
163,Apus Group,1.73,2015-01-16,China,Mobile & telecommunications,"Redpoint Ventures, QiMing Venture Partners, Ch..."
164,LinkSure Network,1.00,2015-01-01,China,Mobile & telecommunications,NaN
165,Koudai,1.40,2014-10-23,China,E-commerce & direct-to-consumer,"New Enterprise Associates, Tiger Global manage..."
166,Meizu Technology,4.58,2014-07-23,China,Hardware,"Telling Telecommunication Holding Co., Alibaba..."

# For loop

In [5]:
China['Select Investors'] = China['Select Investors'].astype('str')

In [6]:
investors = []

for i in range(len(China)):
    for j in range(len(China.loc[i, 'Select Investors'].split(','))):
        investors.append(China.loc[i, 'Select Investors'].split(',')[j])

output = []
for x in investors:
    if x not in output:
        output.append(x)

investors = output

# 2nd piece of code


my_dict = {}
for i in range(len(investors)):
    my_dict[investors[i]] = 0
    
    
#3 rd piece of code

for i in range(len(China)):
    for j in range(len(China.loc[i, 'Select Investors'].split(','))):
        for key in my_dict:
            if China.loc[i, 'Select Investors'].split(',')[j] == key:
                my_dict[key] += 1
                
#4th piece of code

data_items = my_dict.items()
data_list = list(data_items)
#data_list
df_ch = pd. DataFrame(data_list) 
df_ch

                                         0  1
0                        Qualcomm Ventures  1
1                Nine Intelligence Capital  1
2             Hillhouse Capital Management  4
3        China Grand Prosperity Investment  2
4                       Silk Road Huacheng  1
..                                     ... ..
307                       Chengwei Capital  1
308                                    nan  1
309              New Enterprise Associates  1
310                Tiger Global management  1
311  Telling Telecommunication Holding Co.  1

[312 rows x 2 columns]

In [7]:
df_ch.sort_values(by=1, ascending=False).head(10)

                            0   1
12      Sequoia Capital China  22
29      Sequoia Capital China  14
63                IDG Capital  13
113          Tencent Holdings  11
18           Tencent Holdings   6
37                   ZhenFund   5
56      Matrix Partners China   5
66    Qiming Venture Partners   5
35               DCM Ventures   5
102   Qiming Venture Partners   5

In [19]:
cat = China['Category'].str.count(',').add(1).groupby(China.Category).sum()
cat = cat.sort_values(ascending=False)
categories = pd.DataFrame(data=cat, index=None)
categories.head(10)

                                     Category
Category
Supply chain, logistics, & delivery        33
E-commerce & direct-to-consumer            30
Auto & transportation                      17
Hardware                                   17
Artificial intelligence                    16
Mobile & telecommunications                14
Internet software & services               13
Edtech                                     12
Consumer & retail                           8
Fintech                                     8