In [2]:
# Importation de librairies

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import DBSCAN
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

Importation de la Data

In [3]:
df = pd.ExcelFile("Unicorn.xlsx") # Load spreadsheet
df = df.parse('Unicorns', skiprows=2)

Peaufiné la DF

In [4]:

df = df[['Company', 'Valuation ($B) ', 'Date Added', 'Country',
       'Category', 'Select Investors']]
df.rename(columns={"Valuation ($B) ": "Valuation", "Date Added": "Date_Added", "Select Investors ": "SelectInvestors"}, inplace=True)

# Amrika

In [5]:
Usa = df[df['Country'].str.contains('United States')]
Usa = Usa.sort_values(by='Date_Added', ascending=False)
Usa.reset_index(inplace=True)
USA = Usa[['Company','Valuation', 'Date_Added','Country','Category','Select Investors']]
USA

,Company,Valuation,Date_Added,Country,Category,Select Investors
0,Productboard,1.7,2022-02-02,United States,Internet software & services,"Index Ventures, Kleiner Perkins Caufield & Bye..."
1,Loadsmart,1.3,2022-02-01,United States,"Supply chain, logistics, & delivery","Chromo Invest, Maersk Growth, BlackRock"
2,Phantom,1.2,2022-01-31,United States,Fintech,"Paradigm, Andreessen Horowitz, Jump Capital"
3,Athelas,1.5,2022-01-31,United States,Health,"Sequoia Capital, General Catalyst, Human Capital"
4,Esusu,1.0,2022-01-27,United States,Fintech,"Next Play Ventures, Zeal Capital Partners, Sof..."
...,...,...,...,...,...,...
505,Mu Sigma,1.5,2013-02-07,United States,Data management & analytics,"Sequoia Capital, General Atlantic"
506,Avant,2.0,2012-12-17,United States,Artificial intelligence,"RRE Ventures, Tiger Global, August Capital"
507,SpaceX,100.3,2012-12-01,United States,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
508,Fanatics,18.0,2012-06-06,United States,E-commerce & direct-to-consumer,"SoftBank Group, Andreessen Horowitz, Temasek H..."
509,Vice Media,5.7,2011-04-02,United States,Internet software & services,"Technology Crossover Ventures, A&E Television ..."

# Distribution

In [7]:
# Number ok categories

cat =USA['Category'].str.count(',').add(1).groupby(USA.Category).sum()
cat = cat.sort_values(ascending=False)
categories = pd.DataFrame(data=cat, index=None)
categories.head(10)

                                     Category
Category
Internet software & services              135
Fintech                                   105
Supply chain, logistics, & delivery        60
Health                                     48
Artificial intelligence                    38
Cybersecurity                              31
Data management & analytics                30
E-commerce & direct-to-consumer            29
Other                                      27
Mobile & telecommunications                12

# Loop for

In [246]:
investors = []

for i in range(len(Usa)):
    for j in range(len(Usa.loc[i, 'Select Investors'].split(','))):
        investors.append(Usa.loc[i, 'Select Investors'].split(',')[j])

output = []
for x in investors:
    if x not in output:
        output.append(x)

investors = output

# 2nd piece of code


my_dict = {}
for i in range(len(investors)):
    my_dict[investors[i]] = 0
    
    
#3 rd piece of code

for i in range(len(Usa)):
    for j in range(len(Usa.loc[i, 'Select Investors'].split(','))):
        for key in my_dict:
            if Usa.loc[i, 'Select Investors'].split(',')[j] == key:
                my_dict[key] += 1
                
#4th piece of code

data_items = my_dict.items()
data_list = list(data_items)
#data_list
df_2 = pd. DataFrame(data_list) 
print(df_2)

                                     0   1
0                       Index Ventures   9
1     Kleiner Perkins Caufield & Byers  11
2            Bessemer Venture Partners   7
3                        Chromo Invest   1
4                        Maersk Growth   1
..                                 ...  ..
759                     August Capital   1
760            Draper Fisher Jurvetson   1
761                Rothenberg Ventures   1
762      Technology Crossover Ventures   1
763            A&E Television Networks   1

[764 rows x 2 columns]

In [ ]:
df_2.sort_values(by=1, ascending=False).head(10)

# China

In [269]:
# Number ok categories
cat =China['Country'].str.count(',').add(1).groupby(China.Category).sum()
cat = cat.sort_values(ascending=False)
categories = pd.DataFrame(data=cat, index=None)
categories.head(10)

                                     Country
Category
Internet software & services             135
Fintech                                  105
Health                                    48
Artificial intelligence                   38
Cybersecurity                             31
Data management & analytics               30
E-commerce & direct-to-consumer           29
Other                                     27
Supply chain, logistics, & delivery       20
Mobile & telecommunications               12

In [276]:
china = df[df['Country'].str.contains('China')]
China = china.sort_values(by='Date_Added', ascending=False)
China.reset_index(inplace=True)
China = China[['Company','Valuation', 'Date_Added','Country','Category','Select Investors']]

In [277]:
China

,Company,Valuation,Date_Added,Country,Category,Select Investors
0,Haomao.AI,1.00,2021-12-22,China,Artificial Intelligence,"Qualcomm Ventures, Nine Intelligence Capital, ..."
1,Chipone,4.73,2021-12-20,China,Hardware,"China Grand Prosperity Investment, Silk Road H..."
2,Gaussian Robotics,1.00,2021-11-10,China,Hardware,"BlueRun Ventures, Grand Flight Investment, Mei..."
3,Moka,1.00,2021-11-02,China,Internet software & services,"GGV Capital, GSR Ventures, FreesFund"
4,Tezign,1.00,2021-11-02,China,Internet software & services,"Sequoia Capital China, Linear Venture, Hearst ..."
...,...,...,...,...,...,...
162,BeiBei,1.00,2015-01-22,China,E-commerce & direct-to-consumer,"Banyan Capital, New Horizon Capital, IDG Capit..."
163,Apus Group,1.73,2015-01-16,China,Mobile & telecommunications,"Redpoint Ventures, QiMing Venture Partners, Ch..."
164,LinkSure Network,1.00,2015-01-01,China,Mobile & telecommunications,NaN
165,Koudai,1.40,2014-10-23,China,E-commerce & direct-to-consumer,"New Enterprise Associates, Tiger Global manage..."
166,Meizu Technology,4.58,2014-07-23,China,Hardware,"Telling Telecommunication Holding Co., Alibaba..."

Les investisseurs chinoix

In [282]:
investors_ch = []

for i in range(len(China)):
    for j in range(len(China.loc[i, 'Select Investors'].split(','))):
        investors_ch.append(China.loc[i, 'Select Investors'].split(',')[j])

output = []
for x in investors_ch:
    if x not in output:
        output.append(x)

investors_ch = output

# 2nd piece of code


my_dict = {}
for i in range(len(investors_ch)):
    my_dict[investors_ch[i]] = 0
    
    
#3 rd piece of code

for i in range(len(China)):
    for j in range(len(China.loc[i, 'Select Investors'].split(','))):
        for key in my_dict:
            if China.loc[i, 'Select Investors'].split(',')[j] == key:
                my_dict[key] += 1
                
#4th piece of code

data_items = my_dict.items()
data_list = list(data_items)
#data_list
df_3 = pd. DataFrame(data_list) 
print(df_3)

AttributeError: 'float' object has no attribute 'split'